
<div id="BCplayerArea" style="height: 100%; width: 100%;">
<p style="text-align:center; padding-top: 90px;">
<object class="BrightcoveExperience" data="http://c.brightcove.com/services/viewer/federated_f9?
&amp;width=900&amp;height=538&amp;flashID=myExperience883816736001&amp;bgcolor=%23FFFFFF&amp;playerID=751182905001&amp;playerKey=AQ~~%2CAAAAmtVJIFk~%2CTVGOQ5ZTwJYW4Aj2VxnKEXntSbmcf9ZQ&amp;isVid=true&amp;isUI=true&amp;dynamicStreaming=true&amp;%40videoPlayer=883816736001&amp;autoStart=true&amp;debuggerID=&amp;showNoContentMessage=&amp;startTime=1335578969935" 
height="538" id="myExperience883816736001" seamlesstabbing="false" type="application/x-shockwave-flash" width="900"></object>
</p>
</div>

<style>
#BCplayerArea{
    background: black;
}
</style>

