<!--<div id="videocanvas" style="width: 100%; height: 100%; position:relative;">-->

<script src="turtles/streaming/views/flowplayer-3.2.13.min.js"></script>

<div id="videocanvas" style="width: 100%; height: 100%; position:relative;"></div>

<script>

flowplayer("videocanvas", "turtles/streaming/views/flowplayer-3.2.18.swf", {

    clip: {
        autoPlay: true,
        url: '{{videoid}}',
        scaling: 'fit',
        provider: 'flatturtle'
    },

    plugins: {
        flatturtle: {
            url: "turtles/streaming/views/flowplayer.rtmp-3.2.13.swf",
            netConnectionUrl: '{{stream}}'
        }
    },
    canvas: {
        backgroundGradient: 'none'
    }
});
</script>

<style>
#videocanvas{
    background: black;
}
</style>

