<link rel="stylesheet" href="turtles/streaming/views/minimalist.css">
<script src="turtles/streaming/views/jquery-1.11.0.min.js"></script> 
<script src="turtles/streaming/views/flowplayer.min.js"></script>

<div id="videocanvas" style="width: 100%; height: 100%; position:relative;">
    <div id="fp" class="flowplayer" data-ratio="0.5625">
        <video autoplay>
            <source type="video/flash" src="{{{videoid}}}">
        </video>
    </div>
</div>

<script>
flowplayer.conf = {
  live: true, // mandatory with live streams
  rtmp: "rtmp://{{{stream}}}",
  // work around a bug in the flash engine regarding live streams
  swf: "turtles/streaming/views/flowplayer.swf"
};

flowplayer(function (api) {
  api.bind("load", function (e, api, video) {
    $("#vtype").text(video.type);
  });
});
</script>

<style>
#videocanvas{
    background: black;
}

#fp{
    margin-top: 200px;
}

</style>

