<div class="weekmenu">

    <div class="container today">
        <div class="header bg-color-dark">
            <h2>Today</h2>
        </div>
        {{ #today }}
            <div class="category">
                <div class="header bg-color-light">
                    {{ categoryName }}
                </div>
                <div class="wrap">
                    <div class="image">
                        <img src="{{ image }}"/>
                    </div>
                    <div class="text">
                        <h3>{{ mealName }}</h3>
                        <p>&euro; {{ price }}</p>
                    </div>
                </div>
            </div>
        {{ /today }}
    </div>

    {{ #data }}
    <div class="container">
        <div class="header bg-color-dark">
            <h2>WeekMenu</h2>
        </div>
        {{ #categories }}
        <div class="category">
            <div class="header bg-color-light">
                {{ name }}<span class="pull-right">&euro; {{ price }}</span>
            </div>
            <ul>
                {{ #meals }}
                {{ #name }}
                <li>
                    <div class="day">{{ day }}:</div><div class="name">{{ name }}</div>
                </li>
                {{ /name }}
                {{ /meals }}
            </ul>
        </div>
        {{ /categories }}
    </div>
    {{ /data }}
</div>
