<div class="header">
    <i class={{type}}></i>
    <h2>{{location}}</h2>
    <h4>NAVITIA</h4>
    {{#time_walk}}
        <div class="distance">
            <p>
                <i class="foot"></i>{{time_walk}}
            </p>
        </div>
    {{/time_walk}}
</div>
<div class="results">
    <ul>
        {{#entries}}
        <li>
            <div>
                <div class="square" style="background-color: #{{route.line.color}}">
                    <p>{{route.line.code}}</p>
                </div>
                <div class="square">
                    <i class="{{type}}"></i>
                </div>
                <h3>{{route.line.name}}</h3>
            </div>
            <div class="time">
                <p>{{time}}</p>
            </div>
        </li>
        {{/entries}}
        {{#error}}
        <li class='error'>
            <span class='message'>No connections</span>
        </li>
        {{/error}}
    </ul>
</div>

