.pricelist{

    .header h2{
        margin-left: 20px;
    }

    ul li{
        float:none;
    }

    .category{


        .category-header{
            padding-top:10px;
            padding-left: 20px;
            padding-bottom:10px;
            h2{
                font-size: 1.4em;
            }
        }

        .entries{
            padding-top: 10px;
            padding-bottom: 10px;
            margin-left: 40px;
            ul li.entry{
                float:none;

                .pull-right{
                    float:right;
                    width:20%;
                }

                h3{
                    font-size: 1.2em;
                }

                p{
                    font-size: 1em;
                }
            }
        }
    }
}

.list .pricelist{
    h1{

    }

    .category-header{
        background-color:#f2f2f2;
    }

    .bg-color-light{
        background-color: #ffffff;
    }
}