@import "../mixin";

.reservations{
    .left,
    .right{
        @include box-sizing(border-box);
        height: 100%;
        float: left;
    }

    .left{
        color: #dddddd;
        width: 40%;
        padding: 20px;
        background-color: #222222;


        h1{
            margin-top: 0px;
        }

        .logo{
            width: 90%;
            margin-left: 5%;
            margin-right: 5%;
            text-align: center;
        }

        .time{
            margin-left:auto;
            margin-right: auto;
            font-size: 30px;
            text-align: center;
            margin-top: 30px;
        }
    }

    .right{
        position: relative;
        color: #454545;
        width:60%;
        padding:0 20px;
        background-color: #f2f2f2;

        h1{
            font-size: 75px;
        }

        h2{
            margin-top: 20px;
            font-size: 50px;
            line-height: 50px;
        }

        h3{
            margin-top: 10px;
            font-size: 25px;
            line-height: 25px;
            font-weight: normal;
        }

        p{
            margin-top: 20px;
        }
    }

    .logo img{
        max-width: 100%;
    }

    #current,
    #up-next{
        width: 100%;
    }

    #current{
        height:700px;

        .left .logo img{
            max-height: 580px;
        }

        .right{
            padding-top: 120px;
        }
    }

    #up-next{
        height:300px;
        border-top: 1px solid #444444;

        .left .logo img{
            max-height: 140px;
        }

        .right{

            h1{
                font-size: 50px;
            }

            h2{
                font-size: 40px;
                line-height: 40px;
            }

            h3{
                font-size: 20px;
                line-height: 20px;
            }
        }


    }

    .progress{
        background-color: #d0e900;
        height: 10px;
        position: absolute;
        top: 690px;
        z-index: 99999;
        margin-left: -20px;
    }
}