@import "../mixin";

.weekmenu{
    .container{
        overflow:auto;
        width: 100%;
    }

    .header h2{
        margin-left: 20px;
    }

    .pull-right{
        float:right;
        width:20%;
    }

    .category{
        float:left;
        width:50%;
        @include box-sizing(border-box);
        border:1px solid #c2c2c2;

        .header{
            line-height: 1.4em;
            padding-left: 20px;
            height:auto;
            @include box-sizing(border-box);
            h2{
                font-size: 1.4em;
            }
        }


        ul li{
            float:none;

            .day{
                width: 30%;
                text-align: right;
                float:left;
                display: inline-block;
            }

            .name{
                width: 70%;
                float:left;
                text-align: center;
                display: inline-block;
            }

        }
    }
}

.list .weekmenu{

    .bg-color-light{
        background-color: #c2c2c2;
    }

    .bg-color-dark{
        background-color: #333333;
    }
}